{{#each speakers key="@index" as |speaker|}}
  <speaker-item class="{{speaker.status}}" @name={{speaker.name}} @position={{speaker.position}} />
{{/each}}

<div class="container">
  <div class="dial-board">
    <dial-pointer class={{status}} @angle={{previousAngle}} />
  </div>

  <div class="footer">
    <button class="speaker-select" onclick={{action selectSpeaker}}>Next speaker</button>
  </div>
</div>
